.home {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 60rem;
    /* background: red; */
    /* padding: 2rem 5rem; */
}
 /* .home {
  width: 100vw;
  margin: 0 auto;
  max-width: 40rem;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  align-items: start;
} */
 /* @media screen and (min-width: 576px) {
  .home {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}  */

.title {
    text-align: start;
    margin: 2rem 5rem;
  }
  .title h2 {
    font-size: 1.6rem;
    letter-spacing: .25rem;
    margin-bottom: .5rem;
    font-weight: 500;
  }

.underline {
    width: 100%;
    height: 0.1rem;
    background: #808080;
    margin-left: auto;
    margin-right: auto;
  }

  .home p {
    margin: 0 4rem;
  }